<!DOCTYPE html>
<html>
<head>
  <title>Hg assistant</title>
  <%= stylesheet_link_tag    "hg/assistant/application", media: "all" %>
  <%= javascript_include_tag "hg/assistant/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
